<% include ../partials/_head.ejs %>
<script src="/scripts/newPlanPage.js"></script>
  <section class="profile login">
    <div class="">
    </div>
    <form>
        <input id="add-item-input" placeholder="Title">
        <input type="text" id="calorieGoal" name="" value="" placeholder="Daily Calorie Goal">
        <button id="create-plan" onclick=test()>Create</button>
    </form>

    <div id="item-list">
        <!-- Populate through JavaScript when you have search results -->
        <!-- User clicks on one, add to work-in-progress plan -->
        <!-- Button to submit work-in-progress plan (post to database) -->
    </div>

  </section>
<% include ../partials/_footer.ejs %>
