<% include ../partials/_head.ejs %>

<main class="main-content">
  <section class="profile login">
    <div class="">
    </div>
    <form>
      <h1> Update Your goal here </h1>
      <input id="newGoal" placeholder="New Daily Calorie Goal">
      <button id="updateButton" type="button">Update</button>
    </form>
    <div id="item-list">
      <!-- Populate through JavaScript when you have search results -->
      <!-- User clicks on one, add to work-in-progress plan -->
      <!-- Button to submit work-in-progress plan (post to database) -->
    </div>
  </section>
</main>
<script src="/scripts/updateProfile.js"></script>

<% include ../partials/_footer.ejs %>
