<% include ../partials/_head.ejs %>
<script src="/scripts/newPlanPage.js"></script>
  <section class="profile login">
    <div class="">
    </div>
    <form>
        <input id="itemTitle" placeholder="Title">
        <input id="item1" placeholder="Item1">
        <input id="item1Calorie" placeholder="Item1 calorie">
        <input id="item2" placeholder="Item2">
        <input id="item1Calorie2" placeholder="Item2 calorie">
        <input id="item3" placeholder="Item3">
        <input id="item1Calorie3" placeholder="Item3 calorie">
        <input type="text" id="calorieGoal" name="" value="" placeholder="Daily Calorie Goal">
        <button id="create-plan" type="button" onclick=userId()>Create</button>
    </form>

    <div id="item-list">
        <!-- Populate through JavaScript when you have search results -->
        <!-- User clicks on one, add to work-in-progress plan -->
        <!-- Button to submit work-in-progress plan (post to database) -->
    </div>

  </section>
<% include ../partials/_footer.ejs %>
