<% include ../partials/_head.ejs %>

  <main class="main-content">
    <section class="search-section">
      <h1> Search ingredients here </h1>
      <input type="search" name="filter-name" id="search-name" placeholder="Search by Name" />
    </section>
    <button type="button" id="showPlans" name="button">Search</button>
    <section id="plans"></section>
  </main>
  <script src="/scripts/searchPage.js"></script>

  <% include ../partials/_footer.ejs %>
