<% include ../partials/_head.ejs %>

<body>
  <main>
    <section class="search-section">
      <input
        type="search"
        name="filter-name"
        id="search-name"
        placeholder="Search by Name"
      />
    </section>
    <button type="button" id="showPlans" name="button">Show Plans!</button>
    <section id="plans"></section>

  </main>
  <script src="/scripts/searchPage.js"></script>

  <% include ../partials/_footer.ejs %>
