<% include ../partials/_head.ejs %>

  <section class="profile login">
    <div class="">
      <h1>Welcome <%= currentUser && currentUser.name %></h1>
    </div>

   

    
    <h2 class="plan-container" id="plan-container">242424244</h2>
 
    <input id="add-item-input">
    
    <button id="add-item-button">ADD ME</button>

  </section>
  
  <section id="plan-container"></section>

<% include ../partials/_footer.ejs %>
