<% include ../partials/_head.ejs %>
 <section class="profile login">
   <div class="">
     <h1>Welcome <%= currentUser && currentUser.name %></h1>
   </div>
   <!-- user click on this link to make a new plan  -->
   <a class="create-new-plan-link" href="/profile/newplan">Change my info</a>

   <h2 class="plan-container" id="plan-container"></h2>
   <div id="plan-container"></div>
 </section>
<% include ../partials/_footer.ejs %>
