<% include ../partials/_head.ejs %>

  <section class="login">
    <div class="">
      <h1>Welcome <%= currentUser && currentUser.name %></h1>
    </div>
  </section>

<% include ../partials/_footer.ejs %>
