<nav>
  <ul>
    <!-- <% if (typeof currentUser !== 'undefined') { %> -->
    <li><a href="/profile">Profile</a></li>
    <li><a href="/profile/newplan">Update Profile</a></li>
    <li><a href="/profile/search">Search and Add</a></li>
    <li><a href="/accounts/logout">Log Out</a></li>
    <!-- <% } else { %> -->
    <li><a href="/accounts/login">Log In</a></li>
    <li><a href="/accounts/signup">Sign Up</a></li>
    <!-- <% }; %> -->
  </ul>
  <!-- <% if (typeof currentUser !== 'undefined') { %> -->
  <h1 class="greeting"><a class="logo" href="/profile">bonaPetite</a></h1>
  <!-- <% } else { %> -->
  <h1 class="greeting"><a class="logo" href="/">bonaPetite</a></h1>
  <!-- <% }; %> -->
</nav>
