<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bonaPetite</title>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <body>
        <img src="https://images.unsplash.com/photo-1473348164936-13be821e561c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" id="bannerImg"alt="banner"/>
        <div id="navigation">
        <button type="button" class="navButton" name="button"><a href="/accounts/login">Log In</a></button>
        <button type="button" class="navButton" name="button"><a href="/accounts/signup">Sign Up</a></button>
        </div>
  </body>
</html>
